<div style="width: 70%;margin: auto">
    <h1>Registration</h1>
    <div class="col-red" *ngIf="errorMessage" style="text-align: center;margin-bottom: 12px">
        <label-component [text]="errorMessage"></label-component>
    </div>
    <form [formGroup]="formGroup">
        <div class="input">
            <textbox-component [formGroup]="formGroup" [disabled]="disabled" controlName="mobileNumber" placeholder="Mobile number">
            </textbox-component>
            <div class="col-red" *ngIf="onValidate('mobileNumber', 'required')">
                <label-component text="Required"></label-component>
            </div>
            <div class="col-red" *ngIf="onValidate('mobileNumber', 'invalidMobileNumber')">
                <label-component text="Please enter valid indonesian phone number +62"></label-component>
            </div>
        </div>
        <div class="input">
            <textbox-component [formGroup]="formGroup" [disabled]="disabled" controlName="firstName" placeholder="First name">
            </textbox-component>
            <div class="col-red" *ngIf="onValidate('firstName', 'required')">
                <label-component text="Required"></label-component>
            </div>
        </div>
        <div class="input">
            <textbox-component [formGroup]="formGroup" [disabled]="disabled" controlName="lastName" placeholder="Last name">
            </textbox-component>
            <div class="col-red" *ngIf="onValidate('lastName', 'required')">
                <label-component text="Required"></label-component>
            </div>
        </div>
        <div>
            <label-component text="Date of Birth"></label-component>
        </div>
        <div>
            <dropdown-component [list]="months" [formGroup]="formGroup" controlName="month"></dropdown-component>
            <div class="date-of-birth">
                <dropdown-component [list]="dates" [formGroup]="formGroup" controlName="date"></dropdown-component>
            </div>
            <dropdown-component [list]="years" [formGroup]="formGroup" controlName="year"></dropdown-component>
            <div class="col-red"
                *ngIf="formGroup.controls.month.dirty || formGroup.controls.date.dirty || formGroup.controls.year.dirty || formGroup.controls.month.touched || formGroup.controls.date.touched || formGroup.controls.year.touched">
                <label-component *ngIf="formGroup.errors && formGroup.errors.invalidDate" text="Invalid Date">
                </label-component>
            </div>
        </div>
        <div class="genders">
            <radio-component [formGroup]="formGroup" [disabled]="disabled" controlName="gender" [list]="genders"></radio-component>
        </div>
        <div class="input">
            <textbox-component [formGroup]="formGroup" [disabled]="disabled" controlName="email" placeholder="Email"></textbox-component>
            <div class="col-red" *ngIf="onValidate('email', 'required')">
                <label-component text="Required"></label-component>
            </div>
            <div class="col-red" *ngIf="onValidate('email', 'invalidEmailAddress')">
                <label-component text="Invalid email address"></label-component>
            </div>
        </div>
        <submit-button [formGroup]="formGroup" value="Register" [disabled]="disabled" (onClickEmit)="onSubmit()"></submit-button>
    </form>
</div>